<div class="d-flex justify-content-end mt-2 mx-2">
    <button class="btn btn-outline-danger" (click)="logout()">🚀Log Out</button>
</div>
<div class="container my-2">
    <div class="d-flex justify-content-between mt-2 mb-5">
        <button class="btn btn-outline-primary" routerLink='/add-employee'>➕Add Employee</button>
        <div class="row d-flex justify-content-between">
            <input class="form-control col" type="text" placeholder=" 🔍 search Employee" #filter
                (input)="generatePage(curentPage, pageSize, filter)">
            <div class="d-flex align-items-center col border-left-2 ms-3 me-1">
                <span>Show</span>
                <select class="form-control" #pageSize (change)="generatePage(curentPage,pageSize, filter)">
                    <option *ngFor="let item of pageCountOptions" [value]="item">{{item}}</option>
                </select>
                <span>Data</span>
            </div>
        </div>
    </div>
    <h2 class="text-primary">List of Employee</h2>
    <table class="table table-hover table-striped caption-top table-responsive align-middle mb-0 bg-white">
        <thead>
            <td (click)="orderBy('username')">Username</td>
            <td (click)="orderBy('firstName')">Full Name</td>
            <td (click)="orderBy('email')">Email</td>
            <td (click)="orderBy('birthDate')">Birth Date</td>
            <td (click)="orderBy('group')">Group</td>
            <td (click)="orderBy('basicSalary')">Basic Salary</td>
            <td class="text-center text-nowrap">Action</td>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeCurentPageList; index as i">
                <td>{{employee?.username}}</td>
                <td>{{employee?.firstName}} {{employee?.lastName}}</td>
                <td>{{employee?.email}}</td>
                <td>{{employee?.birthDate | date : 'dd MMMM YYYY'}} </td>
                <td>{{employee?.group}}</td>
                <td>{{employee?.basicSalary | currency :"Rp ":true:"1.0-0"}} </td>
                <td class="text-center d-flex justify-content-between">
                    <button class="btn btn-outline-info" [routerLink]="['/employee-details',employee?.id]">
                        📃Detail</button>
                    <button class="btn btn-outline-warning" [routerLink]="['/update-employee',employee?.id]">
                        🖊️Edit</button>
                    <button class="btn btn-outline-danger" (click)="delete(employee?.id, i)">🗑️ Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">

        <nav aria-label="d-flex justify-content-between mt-5">
            <ul class="pagination">
                <li [hidden]="curentPage == 1" class="page-item"><a class="page-link"
                        (click)="generatePage(curentPage-1, pageSize, filter)">⏮️</a></li>
                <li *ngFor="let i of page" class="page-item" [ngClass]="{'active': curentPage == i}"><a
                        class="page-link" (click)="generatePage(i ,pageSize, filter)">{{i}}</a>
                </li>
                <li [hidden]="curentPage >= page.length" class="page-item"><a class="page-link"
                        (click)="generatePage(curentPage+1, pageSize, filter)">⏭️</a>
                </li>
            </ul>
        </nav>
        <p class="text-primary">Halaman {{curentPage}} from {{pageCount}}</p>
    </div>
</div>